{% extends "base.html" %} {% block content %} 
{% if request.user.is_authenticated %} 
{% for logs in log %}<br />
{{ log.muscles }}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3 mt-3">
        <div class="card-body">
          <div class="date">
            <p>{{ logs.date|date:"D M Y"}}</p>
          </div>
          <h5 class="card-title"><b>Muscles: </b>{{ logs.muscles }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ logs.goal }}</h6>
          
          
          {% comment %} {% if user.is_authenticated %}
          <a href="{% url 'grocery:grocery-update' grocery.pk %}">Update</a
          >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <a href="{% url 'grocery:grocery-delete' pk=grocery.pk %}">Delete</a>
          {% endif %} {% endcomment %}
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h1>Sorry you have to be Authenticated</h1>
    {% endif %}
  </div>
</div>

{% endblock content %}
