{% extends "base.html" %} 
{% block content %}
<form>
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

   <b> {{ form.day.label }}:</b>
    {{ form.day }}
    <br>
    <b>{{ form.summary.label }}:</b>
    {{ form.summary }}
    <br>
    <b>{{ form.goal.label }}:</b>
    {{ form.goal }}
    <br>
    
    <b>{{ form.exercises.label }}:</b>
    {{ form.exercises }}
    <div class="text-right">
    <button type="button" class="btn btn-success mt-2">+</button>
    </div>
    <br>
    <b>{{ form.muscles.label }}:</b>
    {{ form.muscles }}
    

      <button type="button" class="btn btn-success mt-3">Submit</button>

    </div>
  </div>
</div>
<br>
</form>

{% endblock content %}
